##############################################################################
##############################################################################
# Core frameworks
torch
torchvision
##############################################################################
# Transformers and vision-language
transformers==4.41.1
##############################################################################
# Medical image and data handling
pydicom==2.4.4
Pillow==10.3.0
numpy==1.26.4
PyYAML==6.0.1
##############################################################################
# Training and visualization
tqdm==4.66.4
matplotlib==3.8.4
##############################################################################


#HealthGPT            
#######  llava manually installed (copy paste in terminal) ########
## pip install "llava @ git+https://github.com/haotian-liu/LLaVA.git@main"
##############################################################################
####################################  END  ####################################
##############################################################################
# from your project root

#pip install git+https://github.com/haotian-liu/transformers@llava-phi3
